@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  @apply grid grid-cols-1 gap-12 px-8
}
.wrapper{
  @apply flex flex-col gap-4
}
.item{
  @apply text-3xl font-bold 
}
.container{
  display: flexbox;
  font-size: 20px;

}
.header{
  min-height: 100vh;
  background: url('./assets/landingPage.png')
}
